<div class="row" *ngIf="album">
  <div class="col s12  m6 offset-m3 ">
    <div class="card center">
      <div class="card-image">
        <img src="assets/images/albums/{{ album.image }}">
        <a class="btn-floating halfway-fab left waves-effect waves-light light-blue" (click)="back()">
          <i class="material-icons">undo</i>
        </a>
        <a class="btn-floating halfway-fab waves-effect waves-light light-green" (click)="edit(album.id)">
          <i class="material-icons">edit</i>
        </a>
      </div>
      <span class="card-title"> {{ album.name }} </span>
      <div class="card-content">
        <p>
          Ano de gravação: {{ album.year }} <br>
          Artista: {{ album.artist }}
        </p>
      </div>
    </div>
  </div>
</div>
