<app-menu [menu]="menu"></app-menu>
<main>

  <router-outlet></router-outlet>

  <!--  lista de discos -->
<!--  <ul class="collection" [hidden]="showForm">-->
<!--    <li class="collection-item avatar" *ngFor="let album of albums">-->
<!--      <img src="assets/images/albums/{{ album.image }}" alt="kind-of-blue" class="circle">-->
<!--      <span class="title"> {{  album.name }} - {{  album.year }} </span>-->
<!--      <p> {{ album.artist.name  }} </p>-->
<!--      <a class="waves-effect waves-teal btn-floating secondary-content" (click)="editInfoAlbum(album.id)">-->
<!--        <i class="material-icons">create</i>-->
<!--      </a>-->
<!--    </li>-->
<!--  </ul>-->

  <!--  form-->
<!--  <div class="row" [hidden]="!showForm">-->
<!--    <form class="col s12">-->
<!--      <div class="row">-->
<!--        <div class="input-field col s8">-->
<!--          <input id="album" type="text" class="validate" name="name" [(ngModel)]="albumEdit.name">-->
<!--          <label for="album">Album</label>-->
<!--        </div>-->
<!--        <div class="input-field col s4">-->
<!--          <input id="ano" type="text" class="validate" name="year" [(ngModel)]="albumEdit.year">-->
<!--          <label for="ano">Ano</label>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="row">-->
<!--        <div class="col s6">-->
<!--          <button class="waves-effect waves-light btn light-blue" (click)="back()">-->
<!--            <i class="material-icons right">undo</i>Voltar-->
<!--          </button>-->
<!--        </div>-->

<!--        <div class="col s6">-->
<!--          <button type="submit" class="waves-effect waves-light btn green" (click)="saveAlbum()">-->
<!--            <i class="material-icons right">save</i>Salvar-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->

<!--    </form>-->
<!--  </div>-->

</main>
<app-footer></app-footer>
