<div class="row">
  <div class="col s12 center">
    {{ title }}
  </div>
  <div class="col s12 right-align">
    <a class="btn-floating right waves-effect waves-light light-green" routerLink="{{ newUrl }}">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>

<ul class="collection">
  <li class="collection-item avatar" *ngFor="let gl of genericList">
    <img src="assets/images/albums/{{ gl.image }}" alt="{{ gl.title }}" class="circle">
    <span class="title"> {{ gl.title }} </span>
    <p> {{ gl.text  }} </p>
    <a *ngIf="showDetail" class="waves-effect waves-teal btn-floating secondary-content" (click)="detail(gl)">
      <i class="material-icons">details</i>
    </a>
  </li>
</ul>
